
    .homepage {
        width: 100%;
        background: url('https://images.unsplash.com/photo-1437205695086-b44352699f59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80');
        background-size: cover;
        background-repeat: no-repeat;
    
    }

    .homepageMain {
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 3em;
        margin-top: 20%;
        color: white;
        animation: fadeInOpacity 8s ease-in;
        opacity: .75;
    }
    .homepageSecond {
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 3em;
        margin-top: 65%;
        margin-bottom: 25%;
        color: white;
        animation: fadeInOpacity 8s ease-in;
        opacity: .75;
    }
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100% {
            opacity: .75;
        }
    }

    .stars {
        height: 200%;
        background: url('http://pngimg.com/uploads/star/star_PNG76909.png');
        
        animation: star 45s linear infinite;
    }
    @keyframes star {
        0% {
            background-position: 0% 0%;
        }
        100%{
            background-position: 100% 20%;
        }
    }

    table {
        font-family: arial, sans-serif;
        background-color: #dddddd;
        border-collapse: collapse;
        margin-left: 5%;
        width: 90%;
        margin-top: 25%;
      }
      
      td, th {
        background-color: black;
        color: white;
        text-align: left;
        padding-bottom: 16px;
      }
      @media all and (max-width: 700px) { 
        .homepageMain {
            font-size: 19px;
        }
        .homepageSecond {
            font-size: 19px;
        }
        td, th {
            font-size: 5px;
            padding: 2px;
        }
    }
