.webToLead {
    background: url('https://images.unsplash.com/photo-1437205695086-b44352699f59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80');
    background-size: cover;
    background-repeat: no-repeat;
   
    width: 100%;
}
.webLeadForm {
    width: 50%;
    background-color: black;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 25%;
    padding-left: 1%;
    padding-top: 5px;
}

.webLeadInput {
    width: 97%;
    clear: both;
    margin-bottom: 5px;
    font-size: 1.1em;
}
.inputLabel {
    font-size: 1.1em;
    color: white;
    margin-bottom: 10em;
}
.formTitle {
    color: white;
}
.formButton {
    width: 25%;
    margin: 1% 0% 2% 0%;
    padding: 16px 10px;
    background-color: silver;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.stars {
    height: 100%;
    background: url('http://pngimg.com/uploads/star/star_PNG76909.png');
    animation: star 45s linear infinite;
}
@keyframes star {
    0% {
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 20%;
    }
}
table {
    font-family: arial, sans-serif;
    background-color: #dddddd;
    border-collapse: collapse;
    margin-left: 5%;
    width: 90%;
    margin-top: 25%;
    opacity: 1;
    animation: tableAnim 1s ease-in;
  }
  @keyframes tableAnim {
    0% {
        margin-left: 15%;
        opacity: 0;
    }
    50% {
        margin-left: 3%;
    }
    100% {
        margin-left: 5%;
        opacity: 1;
    }
  }
  td, th {
    background-color: black;
    color: white;
    text-align: left;
    padding-bottom: 16px;
  }
@media all and (max-width: 700px) { 
    .webLeadForm {
        margin-left: 5%;
        width: 90%;
    }
    .formButton {
        width: 40%;
    }
    .formTitle {
        font-size: 19px;
    }
    .stars {
        height: 75%;
    }
}